@import '@codinglabsau/gooey/presets/slate.css';
@import '@codinglabsau/gooey/style.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 142 76% 36%;
  --primary-foreground: 355 7% 97%;
}

.dark {
  --primary: 142 69% 58%;
  --primary-foreground: 144 61% 7%;
}
